attrs==23.1.0
lancedb==0.3.3
pytest==5.3.5
pytest-mock==3.12.0
urllib3==1.26.18
decorator==5.1.1
msgpack==1.0.7
mypy-extensions==1.0.0
numba==0.58.1
numpy==1.26.1
oauthlib==3.2.2
fastapi==0.104.1
pytz==2023.3
boto3==1.28.79
python-dateutil==2.8.2
websocket-client==1.6.4
SQLAlchemy==2.0.23
wrapt==1.15.0
future==0.18.3
datasets==2.14.6
transformers==4.35.0
peft==0.6.0
chai-guanaco==1.2.7
