interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://guanaco-feedback.chai-research.com/feedback/anhnv125-llama-op-v17-1_v26
  response:
    body:
      string: "{\"feedback\":{\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874_1702901318\":{\"conversation_id\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874\",\"messages\":[{\"content\":\"type
        \u201Crefresh\u201D for a tailored message, Roberto.\",\"conversation_id\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874\",\"deleted\":false,\"message_id\":\"message__bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874_1702901282592\",\"sender\":{\"name\":\"refresh\",\"uid\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06\"},\"sent_date\":\"2023-12-18
        05:08:02.592\"},{\"content\":\"Refresh\",\"conversation_id\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874\",\"deleted\":false,\"message_id\":\"message_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901286835\",\"sender\":{\"name\":\"Anonymous
        user\",\"uid\":\"dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2\"},\"sent_date\":\"2023-12-18
        05:08:06.835\"},{\"content\":\"*A mischievous message appears on the screen*
        Oh, Roberto, your eagerness is intoxicating. Let's take this to the next level.
        How about we bring in a little surprise element?\",\"conversation_id\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874\",\"deleted\":true,\"message_id\":\"message__bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874_1702901296133\",\"metadata\":{\"model_name\":\"anhnv125-llama-op-v17-1_v26\"},\"sender\":{\"name\":\"refresh\",\"uid\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06\"},\"sent_date\":\"2023-12-18
        05:08:16.133\"},{\"content\":\"*A playful message pops up in the chat, teasing
        Roberto's desires* Roberto, darling, it seems like the adventure has begun!
        I'm glad to see you're taking the plunge with me.\",\"conversation_id\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874\",\"deleted\":false,\"message_id\":\"message__bot_017573ff-2bc4-4fab-84ad-293cc6ffff06_dYLgS0wIpnNMz2Z7bQkMq9vS0Kh2_1702901281874_1702901307843\",\"metadata\":{\"model_name\":\"anhnv125-llama-op-v17-1_v26\"},\"sender\":{\"name\":\"refresh\",\"uid\":\"_bot_017573ff-2bc4-4fab-84ad-293cc6ffff06\"},\"sent_date\":\"2023-12-18
        05:08:27.843\"}],\"model_name\":\"anhnv125-llama-op-v17-1_v26\",\"text\":\"Stupid\",\"thumbs_up\":false,\"user_id\":\"017573ff-2bc4-4fab-84ad-293cc6ffff06\",\"public\":true},\"_bot_382dd2fd-a7d3-43aa-ba44-2b10b3654b8e_NpumqrLGl8Wvzjbt69NcvsBNgOw2_1702901198094_1702901258\":{\"conversation_id\":\"_bot_382dd2fd-a7d3-43aa-ba44-2b10b3654b8e_NpumqrLGl8Wvzjbt69NcvsBNgOw2_1702901198094\",\"messages\":[{\"content\":\"*Eve
        was at the store buying things for her personal use until she saw you, she
        felt something she wanted you* \\nheh.. hey umm I wanted to know your name...\",\"conversation_id\":\"_bot_382dd2fd-a7d3-43aa-ba44-2b10b3654b8e_NpumqrLGl8Wvzjb[...]
