interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://guanaco-submitter.chai-research.com/models/huggyllama-llama-7b_v2
  response:
    body:
      string: "{\"logs\":[{\"timestamp\":\"2023-12-16T05:00:01.708383+00:00\",\"entry\":\"Deleting
        key huggyllama-llama-7b-v1-test/config.json from bucket guanaco-mkml-models\",\"level\":\"INFO\",\"line_number\":37,\"path\":\"/home/robert/work/chai_guanaco/guanaco_services/src/guanaco_model_service/model_cache_api.py\"},{\"timestamp\":\"2023-12-16T05:00:01.777890+00:00\",\"entry\":\"Running
        pipeline stage MKMLizer\",\"level\":\"INFO\",\"line_number\":31,\"path\":\"/home/robert/work/chai_guanaco/guanaco_services/src/guanaco_model_service/pipeline_stage.py\"},{\"timestamp\":\"2023-12-16T05:00:02.098201+00:00\",\"entry\":\"Deleting
        key huggyllama-llama-7b-v1-test/mkml_model.tensors from bucket guanaco-[...]
